
<% if user_signed_in? && current_user.producer? %>


<%= render 'shared/list_a_share_jumbotron' %>

<!-- <%= image_tag("kohlrabi", class: "card-img-top") %> -->
<!-- <img class="card-img-top" src="app/assets/images/kohlrabi.jpg" alt="Card image cap"> -->



<% else %>
  <div class="center jumbotron">
    <h1 class="display-4">Welcome to Cropshare</h1>
    <p class="lead">An intelligent marketplace linking farmers and value added producers with end consumers.</p>
    <hr />
    <p>We are creating a better way to purchase food.</p>
    <p class="lead">
      <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-og"%>
    </p>
  </div>
<% end %>
