<li>
  <span class="user"><%= link_to share.user.name, share.user %></span>
  <span class="content"><%= share.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(share.created_at) %> ago.
  </span>
</li>
