<footer class="footer">
  <small>
    <strong>Cropshare.</strong> Farm fresh food for everyone.
  </small>
  <!-- <small>Full power in Boulder, Colorado.</small> -->
  <nav>
    <ul>
      <li><%= link_to "Help", "help_path" %></li>
      <li><%= link_to "Log in", "#" %></li>
    </ul>
  </nav>
</footer>
